---
# esphome/packages/common.yaml
esphome:
  name: ${device_name}
  friendly_name: ${friendly_name}

esp32:
  board: adafruit_feather_esp32s3
  variant: esp32s3
  framework:
    type: arduino

substitutions:
  line_voltage: 120V AC
  line_frequency: 60Hz
  max_current: 15A
  safety_standard: NEC/UL

logger:
  level: INFO

api:
  encryption:
    key: !secret api_encryption_key_base64

ota:
  - platform: esphome
    password: !secret ota_password_base64

wifi:
  ssid: !secret wifi_ssid_base64
  password: !secret wifi_password_base64
  ap:
    ssid: ${device_name} Fallback
    password: !secret ap_password_base64

captive_portal:
