---
packages:
  common: !include packages/common.yaml
  sensors: !include packages/sensors.yaml
  safety: !include packages/safety.yaml
  display: !include packages/display-camera.yaml
  base: !include packages/rat-trap-base.yaml

substitutions:
  device_name: rat-trap-camera-2025
  friendly_name: ShopVac Rat Trap 2025 with STEMMA Camera
