---
packages:
  common: !include packages/common.yaml
  sensors: !include packages/sensors.yaml
  safety: !include packages/safety.yaml
  display: !include packages/display-camera.yaml
  camera: !include packages/camera.yaml
  cv: !include packages/cv.yaml
  base: !include packages/rat-trap-base.yaml

external_components:
  - source: components

substitutions:
  device_name: rat-trap-camera
  friendly_name: ShopVac Rat Trap with STEMMA Camera
