---
name: ESPHome Compile Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Python Environment
        uses: ./.github/actions/setup-python

      - name: Create dummy secrets.yaml
        run: |
          DUMMY_SECRETS=$(cat <<EOF
          wifi_ssid: dummy_ssid
          wifi_password: dummy_password
          ota_password: dummy_ota_password
          api_encryption_key: dummy_api_encryption_key
          ap_password: dummy_ap_password
          device_name: dummy_device_name
          friendly_name: dummy_friendly_name
          EOF
          )
          echo "$DUMMY_SECRETS" > esphome/secrets.yaml

      - name: Compile ESPHome configurations
        run: |
          echo "Compiling esphome/rat-trap-2025.yaml..."
          esphome compile esphome/rat-trap-2025.yaml
          echo "Compiling esphome/rat-trap-stemma-camera.yaml..."
          esphome compile esphome/rat-trap-stemma-camera.yaml
