---
name: ESPHome Compile Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Python Environment
        uses: ./.github/actions/setup-python

      - name: Create dummy secrets.yaml
        run: |
          cat <<EOF > esphome/secrets.yaml
          wifi_ssid: dummy_ssid
          wifi_password: dummy_password
          ota_password: dummy_ota_password
          api_encryption_key: dummy_api_encryption_key
          ap_password: dummy_ap_password
          device_name: dummy_device_name
          friendly_name: dummy_friendly_name
          EOF

      - name: Compile ESPHome configurations
        run: |
          for config_file in esphome/*.yaml; do
            echo "Compiling $config_file..."
            esphome compile "$config_file"
          done
