---
name: Linting

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '**.py'
      - '**.yaml'
      - '**.yml'

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Python Environment
        uses: ./.github/actions/setup-python

      - name: Install pre-commit
        run: |
          pip install pre-commit

      - name: Run pre-commit hooks
        run: |
          pre-commit run --all-files
